html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  color: #333;
}

#main-content {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
}

#data-container {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #f9f9f9;
  width: 500px; 
  height: 500px;
}

